@page "/"
@using Models

<PageTitle>Equipamentos Manutinfo</PageTitle>

<h1>Equipamentos Manutinfo</h1>

<table>
    <thead>

        <th>Id</th>
        <th>Setor</th>
        <th>Maquina</th>
        <th>CPD</th>
        <th>Configuração</th>
        <th>Data Ultima Manutenção</th>
        <th>Data Da Proxima Manutenção</th>
        <th>Team Viewer</th>
        <th>Monitor</th>
        <th>CPD</th>
        <th>Data Ultima Manutenção</th>
        <th>Data Da Proxima Manutenção</th>
        <th>Nobreak</th>
        <th>CPD</th>
        <th>Data Ultima Manutenção</th>
        <th>Data Da Proxima Manutenção</th>
        <th>Impressora</th>
        <th>CPD</th>
        <th>Data Ultima Manutenção</th>
        <th>Data Da Proxima Manutenção</th>
        <th>Estabilizador</th>
        <th>CPD</th>
        <th>Data Ultima Manutenção</th>
        <th>Data Da Proxima Manutenção</th>
    </thead>
    <tbody>

    </tbody>
</table>

@code {

    private class Controle
{
    public string Setor { get; set; }

    public Controle()
    {
        // Definir um valor padrão para Setor no construtor
        Setor = "Valor padrão";
    }

    // Outros métodos e propriedades da classe Controle
}

    }
